.page-head {
	background-color: rgba(194, 171, 171, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
}
.menu-link {
	text-decoration: none;
	display: inline-block;
	margin-left: 60px;
	font-size: "4";
}

.container-cosas {
	background-color: #7c4990;
	width: 90;
	max-width: 1200px;
	margin: 0 auto 0 auto;
	margin-top: 30px;
	padding-bottom: 90px;
	border-radius: 55px 55px 55px 55px;
	align-items: center;
	color: white;
	max-height: 220px;
}
